




/* ------------------------*\
					VARIABLES
\* ------------------------*/



$basecolor: 	rgb(204,153,0);
$bclighter: 	lighten($basecolor, 20%);
$bclight: 		lighten($basecolor, 10%);
$bcdark: 			darken($basecolor, 10%);
$bcdarker: 		darken($basecolor, 20%);
